@import './mixin';
@import './resseting';
@import './variables';



.page_layout_with_header_contentWithTopPadding__3Md4C {
    position: relative;
    z-index: -1;
    .home_root__2Y5YM {
        background-color: #fafafa;
        .hero_banner_root__2kbut {
            color:#131419;
            display: flex;
            align-items: center;
            flex-direction: column;
            overflow: hidden;
            position: relative;


            .team{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 100px;
                .subtile{
                    font-weight: 700;
                    color: #008c8e;
                   
                   
                }
               
                .imgdiv{
                    position: relative;
                 
                  
                    img{
                        border-radius: 30px;
                        width: 100%;
                        height: auto;
                        left:90px;
                        position: relative;
                        @include responsive(992px){
                          width:65%;
                          height: auto;
                          left: 0px;
                          margin: 30px 0px;
                        }
                        @include responsive(768px){
                            width: 80%;
                        }
                        @include responsive(548px){
                            width: 100%;
                        }
                     
                    }
                    @include responsive(992px){
                        text-align: center;
                    }
                
                }

                .imgcontent{
                    position: relative;
                    z-index: 1;
                  background-color: #f3f3f3;
                  padding: 20px 50px;
                  top: 0px;
              border: 2px dashed #008c8e;
              border-radius: 30px;
              left: -70px;
              @include responsive(1200px){
                left: 0px;
                padding: 10px 30px;
              }
           
                    .title{
                        margin: 20px 0px;
                        font-weight: 700;
                        font-size: 30px;
                        position: relative;
                        &::before{
                            content: '';
                            position: absolute;
                            width: 50px;
                            height: 3px;
                            background-color: #008c8e;
                            bottom: 0;
                            left: 0;
                        }
                        @include responsive(768px){
                            font-size: 25px;
                        }
                    }
                    h4{
                        margin-bottom: 10px;
                        font-weight: 500;
                        font-size: 19px;
                        color: #272727;
                        @include responsive(768px){
                            font-size: 17px;
                        }
                    }
    
                    p{
                        width: 100%;
                        font-size: 17px;
                        color: #3e3f3d;
                        @include responsive(768px){
                            font-size: 15px;
                        }
                    }
                }
              

            }

            .other-member {
                margin-bottom: 60px;
                .title-member-main{
                    text-align: center;
                    margin: 30px 0px 50px;
                    h1{
                        font-weight: 600;
                   
                    }
                    p{color: #5a5a5e;
                    }
                }
              
               .member-card{
                position: relative;
              margin-bottom: 30px;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: #43cea2;  /* fallback for old browsers */
                    background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                    
                    opacity: 0;
                    transition: .5s ease;
                    border-radius: 30px;

                 
                }
             
                .img-member{
                    border-radius: 30px;

                
                    img{
                        width: 100%;
                    height: auto;
                    border-radius: 30px;
                    }
                }
                .about{
           
                h3{
                    font-weight: 700;
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    color: #5a5a5e;
                  font-size: 22px;
                    padding: 10px 0px;
                    top: 15px;
                    left: 15px;
                }
                h5{
                    position: absolute;
                    font-size: 18px;
                  border: 2px  solid #008c8e;
                    text-align: center;
                    padding: 10px;
                    color: #008c8e;
                    background-color: #f3f3f3;
                    width: 100%;
                    opacity: 1;
                    transform: translateY(-45px);
                    transition: .3s ease;
                    border-radius: 15px;
                }
                }
                &:hover{
                    &::before{
                        opacity: 0.4;
                    }
                    h3{
                        color: #fff;
                    }
                    h5{
                        background-color: #008c8e;
                        color: #fff;
                    }
                   
                }
               }
            }


            .hero_banner_container__A7fbJ {
                margin: 120px 100px 0;
                max-width: 1136px;
                width: calc(100vw - 200px);
                @include responsive(600px){
                    max-width: calc(100vw - 80px);
                    width: calc(100vw - 80px);
                    margin-left: 40px;
                    margin-right: 40px
                }
                @include responsive(1024px){
                    max-width: calc(100vw - 80px);
                    width: calc(100vw - 80px);
                    margin-left: 40px;
                    margin-right: 40px
                }
                .hero_banner_header__7mJol {
                    font-size: 64px;
                    line-height: 1.25;
                    font-weight: 600;
                    max-width: 1136px;
                    letter-spacing: -.025em;
                    @include responsive(1024px){
                        font-size: 50px;
                        line-height: 1.46;
                    }
                    @include responsive(600px){
                        font-size: 32px;
                        line-height: 1.26;
                    }
                }
                .hero_banner_subHeader__3bP_A {
                    font-size: 24px;
                    line-height: 1.25;
                    font-weight: 400;
                    margin-top: 32px;
                    max-width: 813px;
                    letter-spacing: -.025em;
                    color:#5a5a5e;
                    @include responsive(1024px){
                        font-size: 28px;
                    }
                    @include responsive(600px){
                        font-size: 18px;
                    }
                }
                .hero_banner_arrowLink__2vbeG {
                    font-size: 24px;
                    margin-top: 24px;
                    display: block;
                    @include responsive(1024px){
                        font-size: 20px;
                    }
                    @include responsive(600px){
                        font-size: 16px;
                    }
                    .anchor_with_arrow_root__3jXZg {
                        display: inline-block;
                        color: #008c8e;
                        text-decoration: none;
                        font-weight: 600;
                        line-height: 1.5;
                        letter-spacing: -.025em;
                        padding-right: calc(1em + 0.25ch);
                        position: relative;
                        cursor: pointer;
                        &:hover{
                            .anchor_with_arrow_arrow__1tJdp{
                                transform: translateX(10px);
                            }
                        }
                            
                        
                        span{
                            display: inline;
                        }
                        .anchor_with_arrow_arrow__1tJdp {
                            bottom: 0.25em;
                            height: 1em;
                            padding-left: 0.25ch;
                            fill:#008c8e;
                            position: absolute;
                            transition: .5s ease;

                            
                        }
                    }
                }
                .hero_banner_cta__1lS51{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 80px;
                    margin-bottom: 200px;
                    position: relative;
                    @include responsive(600px){
                        flex-direction: column-reverse;
                        margin-bottom: 60px;
                    }
                  
                    .hero_banner_ctaContent__ijnZt {
                        margin-right: 25px;
                        flex: 0 1 55%;
                        @include responsive(1024px){
                            margin: 0;
                        }
                        .hero_banner_ctaLogo__308V9 {
                            height: 25px;
                            display: block;
                            margin: 25px 0;
                        }
                        .hero_banner_ctaHeader__SO_GJ {
                            font-size: 40px;
                            line-height: 1.25;
                            font-weight: 600;
                            letter-spacing: -.025em;
                            @include responsive(1024px){
                                font-size: 26px;
                            }
                        }
                        .hero_banner_arrowLink__2vbeG {
                            font-size: 24px;
                            margin-top: 24px;
                            display: block;
                            @include responsive(1024px){
                                font-size: 20px;
                            }
                        }
                    }
                    .hero_banner_ctaImage__1c_fT {
                        position: absolute;
                        width: 55%;
                        right: -200px;
                        max-width: 800px;
                        @include responsive(600px){
                            display: none;
                        }
                    }
                }
                .hero_banner_categories__2OOTy {
                    list-style: none;
                    display: flex;
                    justify-content: space-around;
                    margin: 110px 30px 90px;
                    @include responsive(1024px){
                        flex-wrap: wrap;
                        margin: 60px 30px;
                    }
                    @include responsive(600px){
                        margin: 60px 0px;
                    }
                    .hero_banner_categoryWrapper__1Z1-A {
                        flex: 1 1 auto;
                        position: relative;
                        transition: 0.5s ease;

                        @include responsive(1024px){
                            width: 33%;
                        }
                      @include responsiveMinAndMax(600px,1024px){
                        border-right: 1px solid #e7e7e8;
                      }
                      
                        @include responsive(600px){
                            flex-basis: 50%;
                            &:not(:nth-of-type(2n)){
                                border-right: 1px solid #e7e7e8;
                            }
                        }
                        .hero_banner_category__2HNp3 {
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            color: #131419;
                            text-decoration: none;
                            padding: 20px 0;
                            transition: background-color .3s ease;
                            border-radius: 16px;
                            position: relative;
                            letter-spacing: -.025em;
                            @include responsivemin(1024px){
                                padding: 30px 5px;
                                margin-left: 15px;
                                margin-right: 15px;
                                &::before{
                                    content: "";
                                    height: 40px;
                                    width: 1px;
                                    background-color: #e7e7e7;
                                    position: absolute;
                                    right: 0;
                                    top: 30px;
                                }
                            }
                            .hero_banner_categoryImageContainer__mWXkD {
                                height: 32px;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                .hero_banner_categoryImage__1GtC5 {
                                    display: inline-flex;
                                    align-self: center;
                                    max-height: 32px;
                                }
                            }
                            .hero_banner_categoryName__xnQWp {
                                opacity: .7;
                                font-size: 16px;
                                line-height: 1.81;
                                margin-top: 15px;
                                text-align: center;
                                text-decoration: none;
                                color: inherit;
                            }
                        }
                     
                       
                        &:hover{
                            background-color: #e7e7e7;
                        }
                    }
                }
            }
            .hero_banner_narrowImage__2Clgo {
                display: none;
                position: absolute;
                width: 55%;
                right: -200px;
                max-width: 800px;
                @include responsive(600px){
                    position: relative;
                    right: -20px;
                    width: 90vw;
                    display: block;
                    margin-top: -40px;
                }
            }

            .hero_banner_subBanner__JpX-- {
                width: 100%;
                display: flex;
                justify-content: center;
                .hero_banner_subBannerContainer__2RxqT {
                    max-width: 1237px;
                    width: 100vw;
                    padding: 80px 0;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    text-align: center;
                    @include responsive(768px){
                        flex-direction: column;
                        padding: 0px;
                        margin-top: 50px;
                    }
                    .hero_banner_subBannerChild__12EOS {
                        padding: 0 100px;
                        display: flex;
                        align-content: center;
                        flex-direction: column;
                        position: relative;
                        &:not(:last-of-type)::after{
                            content: "";
                            height: 185px;
                          width: 2px;
                          background-color: #e7e7e8;
                          position: absolute;
                          right: 0;

                        }
                        @include responsive(768px){
                            margin-bottom: 40px;
                           
                        }
                        @include responsive(548px){
                            padding: 20px;
                        }
                        .hero_banner_subBannerLogo__F_ACl {
                            height: 25px;
                            margin-bottom: 26px;
                        }
                        .hero_banner_subBannerHeader__3gxh9 {
                            font-size: 32px;
                            line-height: 1.25;
                            letter-spacing: -.025em;
                            font-weight: 600;
                            @include responsive(1024px){
                                font-size: 19px;
                            }
                        }
                        .hero_banner_arrowLink__2vbeG {
                            font-size: 24px;
                            margin-top: 24px;
                            display: block;
                            @include responsive(1024px){
                                font-size: 18px;
                            }
                            .anchor_with_arrow_root__3jXZg {
                                display: inline-block;
                                color: #008c8e;
                                text-decoration: none;
                                font-weight: 600;
                                line-height: 1.5;
                                letter-spacing: -.025em;
                                padding-right: calc(1em + 0.25ch);
                                position: relative;
                                cursor: pointer;
                                &:hover{
                                    .anchor_with_arrow_arrow__1tJdp{
                                        transform: translateX(10px);
                                    }
                                }
                                    
                                
                                span{
                                    display: inline;
                                }
                                .anchor_with_arrow_arrow__1tJdp {
                                    bottom: 0.25em;
                                    height: 1em;
                                    padding-left: 0.25ch;
                                    fill:#008c8e;
                                    position: absolute;
                                    transition: .5s ease;
        
                                    
                                }
                            }
                        }
                     
                    }
                }
            }
           
        }
        .press_root__2asO8{
            padding: 70px 0px 30px 0px;
            text-align: center;
            background: #fff;
            .press_accolades__3hD8R {
                margin: 0 auto 40px;
                max-width: 800px;
                padding: 0 20px;
                position: relative;
                @include responsivemin(790px){
                    margin-bottom: 70px;
                }
                .press_accolade__1I9Ce {
                  
                    transition: opacity .25s linear;
                    .press_logo__2DJJs {
                        max-width: 170px;
                        height: 28px;
                        margin-bottom: 1.5rem;
                      margin: 0 auto;
                    }
                    .press_quote__3D64i {
                        color: #3e3f3d;
                        font-size: 2rem;
                        font-weight: 600;
                        line-height: 1.25;
                        padding-bottom: 2.5rem;
                        text-align: center;
                        letter-spacing: -.025em;
                        padding-top: 30px;
                        @include responsive(768px){
                            font-size: 1.5rem;
                        }
                        @include responsive(561px){
                            font-size: 1rem;
                        }
                       
                    }
                    .press_authorTagline__2wjuo {
                        font-weight: 600;
                        font-size: 1.125rem;
                        line-height: 1.5;
                        text-align: center;
                        letter-spacing: -.025em;
                    }
                }
            }
        }
        .press_logos__3ve81{
           text-align: center;
           background-color: #fff;
           img {
            margin-right: 0.6rem;
            margin-left: 0.6rem;
            vertical-align: middle;
            padding: 0px 0px 30px 0px;
            @include responsive(768px){
             display: none;
            }
           }

        }

        .team_section_root__Uf8iO{
            padding: 0 20px 64px;
            background: #fff;
            @include responsivemin(561px){
                padding: 0 32px 100px;
            }
            .team_section_container__3mWJy{
                display: flex;
                flex-direction: column;
                max-width: 1136px;
                margin: 0 auto;
                @include responsivemin(768px){
                    flex-direction: row-reverse;
                }
                .team_section_quadriptych__Ml5nA {
                    align-self: center;
                    width: 100%;
                    margin-bottom: 16px;
                    @include responsivemin(1025px){                       
                        margin-left: 64px;
                    }
                    @include responsivemin(561px){
                        margin-left: 32px;
                        margin-bottom: 0;
                    }
                    .quadriptych_root__3_xtC {
                        position: relative;
                        width: 100%;
                        padding-top: 100%;
                        &::before {
                            content: "";
                            position: absolute;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background-color:#f3f3f3;
                            border-radius: 50%;
                        }
                        .quadriptych_container__MUM_Q {
                            position: absolute;
                            top: 0;
                            display: grid;
                            grid-template-columns: .54fr .46fr;
                            grid-gap: 8px;
                            gap: 8px;
                            width: 100%;
                            height: 100%;
                            padding: 16% 2%;
                            @include responsivemin(1025px){
                                grid-gap: 16px;
                                 gap: 16px;
                            }
                            
                            img{
                                width: 94%;
                                justify-self: flex-end;
                                border-radius: 8px;
                                object-fit: contain;
                              
                            }
                        }
                    }
                }
                .team_section_body__1lFRh{
                    display: grid;
                    grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
                    grid-template-rows: min-content min-content min-content;
                    align-self: center;
                    grid-gap: 12px;
                    gap: 12px;
                    width: 100%;
                    line-height: 1.5;
                    letter-spacing: -.025em;
                    @include responsivemin(1025px){
                        grid-gap: 24px;
                        gap: 24px;
                    }
                    @include responsivemin(561px){
                        grid-gap: 16px;
                        gap: 16px;
                    }
                    h2 {
                        font-size: 1.25rem;
                        line-height: 1.25;
                        font-weight: 600;
                        color: #131419;
                        @include responsivemin(1025px){
                            font-size: 1.5rem;
                        }
                    }
                    p{
                        font-size: 1rem;
                        color: #5a5a5e;
                        @include responsivemin(1025px){
                            font-size: 1.125rem;
                        }
                    }
                    .hero_banner_arrowLink__2vbeG {
                        font-size: 24px;
                        margin-top: 24px;
                        display: block;
                        @include responsive(1024px){
                            font-size: 20px;
                        }
                        @include responsive(600px){
                            font-size: 16px;
                        }
                        .anchor_with_arrow_root__3jXZg {
                            display: inline-block;
                            color: #008c8e;
                            text-decoration: none;
                            font-weight: 600;
                            line-height: 1.5;
                            letter-spacing: -.025em;
                            padding-right: calc(1em + 0.25ch);
                            position: relative;
                            cursor: pointer;
                            &:hover{
                                .anchor_with_arrow_arrow__1tJdp{
                                    transform: translateX(10px);
                                }
                            }
                                
                            
                            span{
                                display: inline;
                            }
                            .anchor_with_arrow_arrow__1tJdp {
                                bottom: 0.25em;
                                height: 1em;
                                padding-left: 0.25ch;
                                fill:#008c8e;
                                position: absolute;
                                transition: .5s ease;
    
                                
                            }
                        }
                    }
                }
            }
        }


    }
}