@import './mixin';
@import './resseting';
@import './variables';

.page-nav{
    &.stuck {
        bottom: auto;
        background: #fff;
        border-bottom: 1px solid #e6e6e6;
        box-shadow: 0 0 10px -2px #ccc;
        z-index: 5;
        margin-top: 0;
        position: fixed !important;
        top: 0;
        .page-nav__container {
            width: 72rem;
            margin: 0 auto;
            .nav-ul {
                list-style: none;
                padding: 0;
                margin: 0;
                font-size: 16px;
                font-weight: 500;
                box-sizing: border-box;
                display: flex;
                flex: 0 1 auto;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                .js-nav__item {
                    display:table-cell;
                    transition: 0.3s ease;
                    
                    a{
                      padding:10px 20px;
                      display:block;
                      color:#000;
                      text-decoration:none;
                      transition:all 0.3s ease-in-out;
                      &:hover{
                        color:#F38A8A;
                     }   
                    }
                      &.active{
                       background-color: #6ca12b;
                  a{
                    color: #fff;
                  }
                     } 
                     @include responsive(1100px){
                        margin-top: 20px;
                     }  
                  
                   

                   
                }
              
                .-display-sticky {
                    display: block;
                    padding: 22px 0;
                    @include responsive(1100px){
                        margin: 0 auto;
                    }
                    .e-btn {
                        display: inline-block;
                        border: none;
                        border-radius: 2px;
                        padding: 8px 32px;
                        box-shadow: 1px 1px 3px -1px #e6e6e6;
                        text-align: center;
                        text-decoration: none;
                        cursor: pointer;
                        &.-color-primary {
                            color: #fff;
                            background-color: #6ca12b;
                        }
                    }
                }
            }
        }
    }
    @include responsivemin(48em){
        width: 100%;
        display: flex;
        margin-top: 48px;
        color: gray;
    }
    @include responsivemin(73em){
        margin: 0;
    position: absolute;
    z-index: 2;
    bottom: 32px;
    }
    @include responsive(820px){
        display: none;
    }
  
}

.responsiveLogo{
  img{
    width:120px;
    height: auto;
    padding: 20px 0px;
  }
  display: none;
@include responsive(810px){
    display: block;
    background-color: #262626;
    text-align: center;
}
}

.feature-callout {
    position: relative;
    padding: 4rem 0 4rem;

    @include responsivemin(73em){
        height: 689px;
        padding: inherit;
        background: inherit;
    }
    .feature-callout__background {
        display: none;
        background: url(./../image/author_feature.jpg);
        background-color: #fff;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        @include responsivemin(73em){
            display: block;
            position: absolute;
            background-position: right;
            height: 689px;
        }
    }
    .feature-callout__content {
        position: relative;
        top: 100px;
        padding-bottom: 70px;

        @include responsivemin(48em){
            margin-top: inherit;
        }
        @include responsivemin(73em){
            top: 197px;
            background: none;
        }
        .heading {
            font-size: 40px;
            font-weight: 700;
            line-height: 1.2;
            margin-top: 0;
            margin-bottom: 16px;
            color: #1a1a1a;
            @include responsivemin(48em){
                font-size: 56px;
            }
            .feature-callout__span {
                color: #82b441;
            }
        }

        .feature-callout__subtitle {
            font-weight: 500;
            line-height: 1.25;
            margin-top: 0;
            margin-bottom: 16px;
            color: #4d4d4d;
            font-size: 24px;
        }
        .feature-callout__cta {
            margin-top: 32px;
            text-align: center;

            @include responsivemin(48em){
                text-align: inherit;
            }
            .-color-primary {
                color: #fff;
                background-color: #6ca12b;
                font-size: 18px;
                display: inline-block;
                border: none;
                border-radius: 2px;
                padding: 8px 32px;
                box-shadow: 1px 1px 3px -1px #e6e6e6;
                text-align: center;
                text-decoration: none;
                cursor: pointer;
                @include responsivemin(48em){
                    padding: 16px calc(16px + 32px);
                }
            }
        }

    }
}


.section__title{
    font-weight: 600;
    text-align: center;
    margin: 90px 0px 20px;
    font-size: 48px;
}
.heading__subtitle {
    font-size: 22px;
    text-align: center;
    font-weight: 400;
    line-height: 1.75;
    margin-top: 0px;
    margin-bottom: 16px;
    color: gray;
}



.tabs {
	max-width: 1040px;
	margin: 30px auto 0px;
	padding: 10px 20px 120px;
}
#tab-button {
	display: table;
	table-layout: fixed;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;


	li {
		display: table-cell;
		width: 20%;
		a {
            display: block;
            padding: .5em;
            background: #eee;
            border: 1px solid #ddd;
            text-align: center;
            color: #000;
            text-decoration: none;
			&:hover {
				border-bottom-color: transparent;
				background: #fff;
			}
		}
		&:not(:first-child) {
			a {
				border-left: none;
			}
		}
	}
	.is-active {
		a {
			border-bottom-color: transparent;
			background: #fff;
		}
	}
}
.tab-contents {
	padding: .5em 2em 1em;
	border: 1px solid #ddd;
	margin-top: 20px;
    .tab-con{
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 20px;
      img{
        width: 220px;
    }
    .e-paragraph{
        width: 50%;
     color: gray;
     padding-left: 40px;
     @include responsive(600px){
width: 100%;
    }
    }
    @include responsive(600px){
        flex-direction: column;
    }
    }
 
}
.tab-button-outer {
	display: none;
}
@media screen and (min-width: 768px) {
	.tab-button-outer {
		position: relative;
		z-index: 2;
		display: block;
	}
	.tab-select-outer {
		display: none;
	}
	.tab-contents {
		position: relative;
		top: -1px;
		margin-top: 0;
	}
}



.showcase {
    background: #fafafa;
    padding: 75px 0 0;
    @include responsivemin(73em){
        padding: 115px 0;
    }
    .heading {
        font-size: 40px;
        font-weight: 700;
        line-height: 1.2;
        margin-top: 0;
        margin-bottom: 16px;
        color: #1a1a1a;
        @include responsivemin(48em){
            font-size: 56px;
        }
    }
    .showcase__divider {
        width: 140px;
        height: 0;
        border: 4px solid #82b441;
        float: left;
        margin-bottom: 42px;
      opacity: 1;
    }
    .heading__subtitle {
        font-size: 20px;
        font-weight: 400;
        line-height: 1.75;
        margin-top: 0;
        margin-bottom: 16px;
        color: gray;
        text-align: start;
        @include responsivemin(48em){
            font-size: 22px;
        }
    }
    .showcase__container {
        margin-top: 40px;
        position: relative;
        z-index: 1;
        display: flex;
        flex-wrap: wrap;
        @include responsivemin(73em){
            display: block;
            margin-top: -140px;
        }
        .showcase__item{
            display: none;
            margin-bottom: 10px;
            box-shadow: 0 0 10px #999;
            background: #999;
           &.-dimension-sstyles {
                width: 100%;
                height: 256px;
                top: 0;
                right: 0;
                background: url('./../image/dash3.jpg');
                background-position: 50% 0;
                background-repeat: no-repeat;
                @include responsivemin(73em){
                    width: 576px;
                }
            }
            &.-display-all-sizes {
                display: block;
            }
            &.-dimension-enfold {
                width: calc(50% - 5px);
                height: 159px;
                top: 274px;
                right: 296px;
                background: url('../image/dash5.jpg');
                @include responsivemin(73em){
                    width: 280px;
                }
            }
            &.-dimension-romavrs {
                width: calc(50% - 5px);
                height: 224px;
                top: 274px;
                right: 0;
                background: url('../image/dash4.jpg');
                background-size: 280px 224px;
                background-position: 50% 0;
                @include responsivemin(73em){
                    width: 280px;
                }
            }
            &.-dimension-tommus {
                width: 280px;
                height: 384px;
                top: 0;
                right: 296px;
                background: url('../image/dash10.jpg');
                background-size: 280px 384px;
            }
            &.-dimension-dtbaker {
                width: 100%;
                height: 248px;
                top: 0;
                right: 0;
                background: url('../image/dash11.jpg');
                background-size: cover;
              
                @include responsivemin(48em){
                    width: 460px;
                    height: 447px;
                    background-size: 460px 447px;
                
                }
                @include responsivemin(73em){
                    width: 280px;
                    height: 272px;
                    background-size: 280px 272px;
                }
            }

            &.showcase__item.-dimension-be {
                width: calc(50% - 5px);
                height: 216px;
                top: -65px;
                background: url('../image/dash6.jpg');
                background-size: 280px 216px;
                position: relative;
                @include responsivemin(73em){
                    position: absolute;
                    width: 280px;
                    right: 296px;
                    top: 451px;
                }
            }
            &.-dimension-yourinspiration {
                width: 280px;
                height: 272px;
                top: 402px;
                right: 296px;
                background: url('../image/dash12.jpg');
                background-size: 280px 272px;
               
            }
            &.-dimension-mvp {
                width: 280px;
                height: 384px;
                top: 290px;
                right: 0;
                background: url('../image/dash13.jpg');
                background-size: 280px 384px;
              
                
            }

            &.-dimension-composer {
                width: calc(50% - 5px);
                height: 152px;
                top: 516px;
                right: 0;
                background: url('../image/dash7.jpg');
                @include responsivemin(73em){
                    width: 280px;
                }
            }
            @include responsivemin(73em){
                display: block;
                position: absolute;
                opacity: 1;
            }

        }
    }
}

.tools-and-support{
    padding: 85px 0;
    background: #fff;
    @include responsivemin(73em){
        padding: 165px 0;
    }
    .section__title {
        font-size: 32px;
        font-weight: 700;
        line-height: 1.25;
        margin-top: 0;
        margin-bottom: 32px;
        color: #1a1a1a;
        text-align: center;
        @include responsivemin(48em){
            font-size: 44px;
    margin-bottom: 32px;
        }
    }
    .detail {
        margin-top: 20px;
        padding: 0 10px;
        text-align: center;
        @include responsivemin(73em){
            margin: 0;
        }
        .detail__icon {
            max-width: 190px;
            margin-bottom: 39px;
            margin-top: 20px;
        }
        .detail__title {
            font-weight: 700;
            line-height: 1.25;
            margin-top: 0;
            margin-bottom: 32px;
            color: #333;
            font-size: 24px;
        }
        .e-paragraph {
            font-size: 16px;
            line-height: 1.5;
            margin-bottom: 16px;
            color: gray;
        }
    }
}