@import './mixin';
@import './resseting';
@import './variables';



.page_layout_with_header_contentWithTopPadding__3Md4C {
    position: relative;
    z-index: 1;
    .sitemap_root__3BWHv {
        padding: 90px 0 110px;
        .centered_section_wrapper_root__3qcUu {
            padding: 0 20px;
            @include responsivemin(561px){
                margin: 0 auto;
                max-width: 1200px;
                padding: 0 32px;
            }
            .text_mega__HPxmR{
                text-align: center;
                display: block;
            &.text_block__3gcw9 {
                padding-bottom: 0.8rem;
                color: #131419;
                font-size: 2rem;
                font-weight: 700;
                letter-spacing: -.025em;
                line-height: 1.25;
                @include responsivemin(561px){
                    font-size: 2.5rem;
                }
                @include responsivemin(1025px){
                    font-size: 3.5rem;
                }
               
            }
          }

          .sitemap_logo__2bKPp {
            margin: 60px 0 32px;
            *{
                height: 26px;
            }
        }


        .sitemap_subTitle__2yU7C {
            font-weight: 600;
            margin-bottom: 8px;
            margin-top: 50px;
        }

        .sitemap_text__3H-6q {
            letter-spacing: -.025em;
            color: #666666;
        }
        .sitemap_links__3OedZ{
            display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    @include responsive(548px){
    grid-template-columns: 1fr;
    


    }
    grid-row-gap: 8px;
    margin-top: 40px;
    border-bottom: 1px solid #e7e7e8;
    padding-bottom: 50px;
    .sitemap_link__1nQ5Y {
        font-size: 1.125em;
        font-weight: 600;
        color: #008c8e;
        text-decoration: none;
    }
        }


        }
    }
}