/* || Envato Footer Help Centre Stylesheet
Author: Simon Agliati
Version: 1.1
*/

._1lFQzVu2 {
    margin-bottom: 0;
    color: #fff;
    background-color: #1a1a1a;
    padding-top: 60px;
    padding-bottom: 60px;
}

._36JsqVnZ {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto
}

.eA-irOW7 {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 95%
}

@media (min-width:1000px) {
    ._3ZZLtp1b {
        display: flex;
        flex-wrap: wrap;
        flex-grow: 1;
        justify-content: flex-start;
        align-items: flex-start;
    }
}

@media (min-width:1000px) {
    ._2XLWuQOI {
        flex-basis: 100%;
        min-width: 0;
        flex-basis: 19.09976%;
        margin-right: 2.18978%;
    }
    ._2XLWuQOI:last-child {
        margin-right: 0
    }
}

._10a_LyY2 {
    font-family: var(--MONTSERRAT);
    font-size: 13px;
    line-height: 18px;
    letter-spacing: .025em;
    text-transform: uppercase;
    color: #505050;
    color: #7c7c7d;
    font-weight: 700
}

._6uSXkluO,
._10a_LyY2 {
    margin-top: 0;
    font-style: inherit;
    margin-bottom: 10px
}

._2b09fVk_ {
    font-family: var(--MONTSERRAT);
    font-size: 13px;
    line-height: 18px;
    letter-spacing: .025em;
    text-transform: uppercase;
    color: #505050;
    color: #7c7c7d;
    font-weight: 700
}

._2b09fVk_,
.jkbD0m2w {
    margin-top: 0;
    font-style: inherit;
    margin-bottom: 10px
}

._32qKJhhe {
    list-style: none;
    padding: 0
}

a.jkbD0m2w:visited {
    color: #fff;
}

.jkbD0m2w {
    font-family: var(--SFPRO);
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: .01em;
    color: #303030;
    display: inline-block;
    color: #fff
}

@media (min-width:1000px) {
    ._1F7zVJLx {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        min-width: 0;
        -ms-flex-preferred-size: 48.71795%;
        flex-basis: 48.71795%;
        margin-right: 2.5641%;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
    ._1F7zVJLx:last-child {
        margin-right: 0
    }
}

.Z0PhSztO {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .01em;
    max-width: 450px
}

._37XRXLrv,
.Z0PhSztO {
    margin-top: 0;
    font-family: var(--SFPRO);
    font-style: inherit;
    font-weight: 400;
    margin-bottom: 10px;
    color: #303030;
    color: #fff
}

._3sMj5KJz {
    max-width: 506px;
    margin: auto
}

._1mY86Q-R {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

.z8cZ0BsR {
    font-family: var(--SFPRO);
    font-weight: 400;
    font-size: 14px;
    line-height: 23px
}

._2ppdM8lB {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-right: 10px
}

._3INBcbJ2 {
    border: 1px solid #c7c7c9;
    background-color: #fff;
    border-radius: 6px;
    height: 35px;
    color: #303030;
    padding: 0;
    box-sizing: border-box;
    position: relative
}

._2EBxr-Hn,
._3INBcbJ2 {
    font-family: var(--SFPRO);
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    width: 100%
}

._1HEfRzPx {
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px 20px
}

._1gH9yuPJ {
    min-height: 35px;
    padding: 11px 30px;
    font-family: var(--MONTSERRAT);
    font-size: 12px;
    line-height: 18px;
    letter-spacing: .025em;
    font-weight: 700;
    font-style: inherit;
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
    white-space: nowrap;
    outline: none;
    border: none;
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    line-height: 1em;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    position: relative;
    background-color: #f93d66;
    color: #fff
}

.BlP8mF3e {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center
}

._2jQU0lIp {
    display: none
}

._397hreFv {
    fill: currentColor;
    height: 1em
}

._1N6LKbXm path {
    stroke: #fff;
    stroke-width: 2px
}

._9nK1MgGj {
    color: #fff;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.cGznycW5:before {
    content: "";
    display: block;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #383838;
    width: 100%;
    margin-left: .5rem;
    margin-right: .5rem
}

.cGznycW5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

@media (min-width:720px) {
    ._3Z9GZBJ4 {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        min-width: 0;
        -ms-flex-preferred-size: 82.90585%;
        flex-basis: 82.90585%;
        margin-right: 2.5641%
    }
    ._3Z9GZBJ4:last-child {
        margin-right: 0
    }
}

._2eKwJ6qz {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 10px
}

._1FTOuAjY {
    margin-top: 0;
    font-family: var(--SFPRO);
    font-size: 14px;
    font-style: inherit;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: .01em;
    margin-bottom: 10px;
    color: #303030;
    display: inline-block;
    color: #7c7c7d
}

a.Fe3b1ZaG:visited {
    color: #fff
}

.Fe3b1ZaG {
    color: #fff
}

.Fe3b1ZaG:hover {
    text-decoration: underline
}

._2xPnbjvK,
._3hZcl0KF {
    margin-top: 0;
    font-family: var(--SFPRO);
    font-size: 14px;
    font-style: inherit;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: .01em;
    margin-bottom: 10px;
    color: #303030;
    color: #7c7c7d;
    margin-bottom: 0
}

@media (min-width:720px) {
    ._3or2tITc {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        min-width: 0;
        -ms-flex-preferred-size: 14.53005%;
        flex-basis: 14.53005%;
        margin-right: 2.5641%
    }
    ._3or2tITc:last-child {
        margin-right: 0
    }
}

._1BzYx64T {
    padding: 0;
    margin-bottom: 0;
    margin-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
}

@media (min-width:720px) {
    ._1BzYx64T {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end
    }
}

._1R0C0ItG {
    display: inline-block;
    font-size: 22px
}

._1R0C0ItG:not(:first-child) {
    margin-left: 10px
}

a._2CbQJanU:visited {
    color: #7c7c7d;
}

._2CbQJanU {
    color: #7c7c7d
}

._3hA-VPOH {
    width: 22px;
    height: 22px
}

a._6uSXkluO:visited {
    color: #fff
}

._6uSXkluO {
    font-family: var(--SFPRO);
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: .01em;
    color: #303030;
    display: inline-block;
    color: #fff
}

._6uSXkluO:hover {
    text-decoration: underline
}

._2z0YU8f8 {
    list-style: none;
    padding: 0
}

._37XRXLrv {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0;
    display: block
}


.appLoading ._3sMj5KJz {
    opacity: 0
}

@media (min-width:1000px) {
    ._3sMj5KJz {
        margin-left: 0
    }
}

@media (min-width:720px) {
    .eA-irOW7 {
        width: 95%;
        max-width: 95%;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: auto;
        margin-right: auto
    }
}

@media (min-width:1000px) {
    .eA-irOW7 {
        width: 1160px;
        max-width: 95%;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: auto;
        margin-right: auto
    }
}

@media (min-width:1200px) {
    .eA-irOW7 {
        width: 1260px;
        max-width: 95%;
        padding-left: 60px;
        padding-right: 60px;
        margin-left: auto;
        margin-right: auto
    }
}

._1FTOuAjY:not(:last-child):after {
    content: "|";
    margin-left: 10px;
    margin-right: 10px
}

.ZJ2uG5lb {
    flex-basis: 100%;
    align-self: stretch;
}

@media (min-width: 1000px) {
    .ZJ2uG5lb:last-child {
        margin-right: 0;
    }
}

@media (min-width: 1000px) {
    .ZJ2uG5lb {
        min-width: 0;
        flex-basis: 36.13139%;
        margin-right: 2.18978%;
        display: flex;
        justify-content: flex-end;
    }
}

._2iLSd7Wn, ._1HGuppqg {
    display: flex;
    justify-content: space-between;
}

._1HGuppqg {
    flex-direction: column;
}

._3_HDSII0 {
    fill: #fff;
    width: 67px;
    height: 113px;
}

.ulfooter {
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
}